---
layout: default
---

<div class="jumbotron jumbotron-fluid bg-dark banner">
  
  <div class="jumbotron-background">
    <img src="{{ site.baseurl }}/assets/background.jpg" class="blur" />
  </div>

  <div class="container text-white">
    <div class="page-heading">
      <h1>{{ site.title }}</h1>
      <hr class="small">
      <span class="page-subheading">{{ site.description }}</span>
    </div>
  </div>
</div>

<div class="container-md">

<div class="row">

<div class="col-xl-8 offset-xl-2 col-lg-10 offset-lg-1">

<!-- Information -->

<div class="jumbotron information">
  {{ site.information | markdownify }}
  <div class="text-center">
    <a class="btn btn-success btn-lg register-btn" href="{{ site.registration }}">{% if site.registration %}Register for the seminar{% else %}Registration closed{% endif %}</a>
  </div>
  {{ site.details | markdownify }}
  <div id="hosted-by">Seminar organizers {{ site.organizers | markdownify | remove: '<p>' | remove: '</p>' }}</div>
</div>


<div class="posts-list" id="talk-list">

<!-- List talks -->

{% for talk in site.data.talks %}

  <article class="post-preview" datetime="{{ talk.date | date: "%s" }}">
    <h2 class="post-title">{{ talk.title }}</h2>
    <h3 class="post-subtitle"><a href="{{talk.url}}" target="_blank">{{ talk.presenter }}</a> ({{ talk.affiliation }})</h3>
    <p class="post-meta">{{ talk.date }}</p>
    <div class="post-entry">
      <p><strong>Abstract:</strong>
      {{ talk.abstract | markdownify | remove: '<p>' | remove: '</p>' }}</p>
    </div>
    <div class="row post-bio">
      <div class="col-12 col-sm-4 col-md-3 col-lg-2 col-xl-2 text-center">
      {% if talk.photo %}
        <img src="{{ site.baseurl }}/assets/speakers/{{ talk.photo }}.jpg" class="img-responsive img-circle avatar" alt="">
      {% else %}
        <div class="avatar" style="background: #ddd;">
          <i class="fa fa-user" style="font-size: 100px; color: #eee; margin-top:20px;"></i>
        </div>
      {% endif %}
      </div>
      <div class="col-12 col-sm-8 col-md-9 col-lg-10 col-xl-10 text-muted">
        <p><strong>About the presenter:</strong>
        {{ talk.biography | markdownify | remove: '<p>' | remove: '</p>' }}</p>
      </div>
    </div>
  </article>

{% endfor %}

</div>

<div class="posts-list" id="past-talks">
</div>

</div>

</div>

</div>

<script src="{{ site.baseurl }}/assets/vendor/jquery/jquery.min.js"></script>

<script>
  $(document).ready(function() {

    // Move talk to Past talks one hour after the scheduled time
    var currentTime = Math.floor(Date.now() / 1000)+2*3600;

    console.log('Current unix time: '+currentTime);

    $("#talk-list").prepend("<h2>Upcoming talks</h2>");

    // Make sure the talk list is sorted (next talk first)
    $("#talk-list article")
    .sort((a,b) => $(a).attr("datetime") - $(b).attr("datetime"))
    .appendTo("#talk-talks");

    // Add label if there are past talks
    if (parseInt($("#talk-list article").first().attr("datetime")) < currentTime) {
        $("#past-talks").prepend("<h2>Past talks</h2>");
    }

    // Move past talks to Past Talks list
    $("#talk-list article").filter(function() {
        return parseInt($(this).attr("datetime")) < currentTime;
    }).appendTo("#past-talks");

    // Sort past talks by reverse time (most recent first)
    $("#past-talks article")
    .sort((a,b) => $(b).attr("datetime") - $(a).attr("datetime"))
    .appendTo("#past-talks");

  });
</script>


